.root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}
